html.ticket {
  min-height: 100vh;
  background: $bck-shadow, url('./assets/img/bck-tickets.jpg');
  //   background: url('./assets/img/bck-tickets.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  font-family: $font-button;
  font-weight: 500;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
  &:disabled {
    box-shadow: none;
  }
}

a {
  font-family: $font-links;
  font-weight: 300;
}

h1 {
  font-family: $font-title;
  font-size: 2.86em;
}
h2 {
  font-size: 1.43em;
}
h3 {
  font-size: 1.3em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-h2;
  line-height: 2.14em;
  letter-spacing: 0.05em;
  font-weight: bold;
}

label {
  font-family: $font-h2;
}

p {
  font-family: $font-text;
  line-height: 1.86em;
}

input {
  font-family: $font-text;
  line-height: 1.63em;
}
