html.ticket {
  min-height: 100vh;
  background-color: $black;
  background: $bck-shadow, url('./assets/img/bck-tickets.jpg');
  //   background: url('./assets/img/bck-tickets.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-bg {
  background: $bg-shadow-home, url('./assets/img/home-bg.png');
  background-color: $black; /* Used if the image is unavailable */
  height: 110vh; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center;
}

html.lineup {
  min-height: 100vh;
  background-color: $black;
  background: $lineup-shadow, url('./assets/img/lineup-bg.jpg');
  //   background: url('./assets/img/bck-tickets.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.links {
  a {
    font-family: $font-h2;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 24px;
  }
  &:hover {
    color: $gold;
  }
}

button {
  font-family: $font-button;
  font-weight: 500;
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
  &:disabled {
    box-shadow: none;
  }
}

a {
  font-family: $font-links;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-family: $font-title;
  font-size: 2.86em;
  letter-spacing: 2px;
  line-height: 50px;
  font-weight: 400;
}
h2 {
  font-size: 1.2em;
  margin: $margin-v-h2;
  font-weight: 700;
  color: white;
}
h3 {
  font-size: 1.3em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $font-h2;
  line-height: 2.14em;
  letter-spacing: 0.05em;
  font-weight: bold;
}

label {
  font-family: $font-h2;
}

p {
  font-family: $font-text;
  line-height: 1.86em;
  font-size: 14px;
  color: white;
}

.small-p {
  font-family: $font-text;
  line-height: 1.86em;
  color: $white;
  font-size: 10px;
  letter-spacing: 1.5px;
  line-height: 26px;
  font-weight: 400;
}

input {
  font-family: $font-input;
  line-height: 1.63em;
}

.white {
  color: $white;
}

.gold {
  color: $gold;
}
