//*FONTS
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@300;500;700&family=Lobster&display=swap');

$font-title: 'Lobster', cursive;

$font-button: 'Libre Franklin', sans-serif;
$font-h2: 'Libre Franklin', sans-serif;
$font-links: 'Libre Franklin', sans-serif;

$font-text: 'Libre Baskerville', serif;

//*MARGINS
$margin-v-h1: 1.86em;
$margin-v-h2: 0.86em;
$margin-v-button: 2.86em;
$margin-v-section: 7.14em;
$margin-v-img: 1.86em;
$margin-v-p: 3.07em;
//*PADDINGS
$padding-p: 1.5em;

//*COLORS
$white: #f4f4f4;
$gold: #f0a500;
$orange: #cf7500;
$dark-grey: #41454e;
$black: #1a1c20;
$grey-3: #828282;
$grey-4: #bdbdbd;

//*BUTTONS
$btn-width: 140px;
$btn-height: 40px;
$btn-br: 10px 40px;

//*SHADOW
$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$hover-glow: 0px 0px 8px 4px rgba(240, 165, 0, 0.78);
$radial_shadow: radial-gradient(
  circle,
  rgba(26, 28, 32, 0.33) 20%,
  rgba(26, 28, 32, 0.75) 100%
);
