//*FONTS
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Libre+Franklin:wght@300;400;500;700&family=Lobster&display=swap');

$font-title: 'Lobster', cursive;
$font-button: 'Libre Franklin', sans-serif;
$font-h2: 'Libre Franklin', sans-serif;
$font-links: 'Libre Franklin', sans-serif;
$font-label: 'Libre Franklin', sans-serif;
$font-input: 'Libre Franklin', sans-serif;
$font-text: 'Libre Baskerville', serif;

//*MARGINS
$margin-v-h1: 1.86em;
$margin-v-h2: 0.86em;
$margin-v-mobile-button: 1.8em;
$margin-v-button: 2.86em;
$margin-v-section: 3.3em;
$margin-v-img: 1.86em;
$margin-v-p: 3.07em;
$margin-v-inputfield: 0.75em;
$margin-h-inputfield: 1.18em;
$margin-hamburger: 2.5em;
//*PADDINGS
$padding-p: 1.5em;

//*COLORS
$white: #f4f4f4;
$gold: #f0a500;
$orange: #cf7500;
$dark-grey: #41454e;
$black: #1a1c20;
$black-50: rgba(26, 28, 32, 0.6);
$grey-3: #828282;
$grey-4: #bdbdbd;

//*BUTTONS
$btn-width: 140px;
$btn-height: 40px;
$btn-br: 10px 40px;

//*INPUT
$input-height: 40px;
$input-br: 10px 40px;

//*SHADOW
$drop-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
$hover-glow: 0 0 0.5em 0.25em rgba(240, 165, 0, 0.78);
$focus-glow-input: 0 0 0.5em 0.25em #f4f4f4;
$radial_shadow: radial-gradient(
  circle,
  rgba(26, 28, 32, 0.33) 20%,
  rgba(26, 28, 32, 0.75) 100%
);
$bck-shadow: linear-gradient(
  180deg,
  rgba(26, 28, 32, 0.69) 7%,
  rgba(26, 28, 32, 0.35) 16%,
  rgba(26, 28, 32, 1) 99%
);
$lineup-shadow: linear-gradient(
  180deg,
  rgba(26, 28, 32, 0.822) 30%,
  rgba(26, 28, 32, 0.671) 60%,
  rgb(26, 28, 32) 99%
);
$bg-shadow-home: linear-gradient(180deg, rgba(0, 0, 0, 0.57) 0%, #1A1C20 100%);


//RESPONSIVE
$desktop-query: 1000px;
